/* Nota: A fonte personalizada não está sendo carregada corretamente. Não consegui identificar o problema. */

@font-face {
    font-family: 'HelveticaUltraLightRegular';
    src: url('/fonts/HelveticaUltraLt_0.ttf') format('truetype');
}
  
@font-face {
    font-family: 'RobotoLight';
    src: url('/fonts/Roboto-Light_0.ttf') format('truetype');
}

/* Nota: A fonte personalizada não está sendo carregada corretamente. Não consegui identificar o problema. */